record(stringin, "$(P)$(Q)$(NAME)")
{
    field(DESC,"$(DESC)")
    field(DTYP, "asynOctetRead")
    field(INP, "@asyn($(PORT),0,1)$(NAME)_$(TYPE)")
	field(SCAN, "I/O Intr")
}

record(stringout, "$(P)$(Q)$(NAME):SP")
{
    field(DESC,"$(DESC)")
    field(DTYP, "asynOctetWrite")
    field(OUT, "@asyn($(PORT),0,1)$(NAME)_$(TYPE)")
}
